* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto Slab", sans-serif;
	background: #102542;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 100px;
}

.bg-img {
	position: absolute;
	z-index: -1;
	right: 0;
	opacity: 0.2;
	width: 1100px;
}

.header {
	display: inline-block;
	text-align: left;
	margin-right: 70px;
	width: 500px;
	overflow: wrap;
}
h1 {
	font-family: "Stack Sans Notch", sans-serif;
	font-size: 90px;
	font-weight: 900;
	color: #f87060;
}

.form-wrapper {
	position: relative;
	/* width: 300px; */
	/* height: 300px; */
	background-color: #1b4965;
	box-shadow: 0 0 50px rgb(4, 22, 48);
	border-radius: 20px;
	padding: 40px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.8s ease-in-out;
}

h2 {
	font-size: 35px;
	color: white;
	text-align: center;
}

.input-group {
	position: relative;
	margin: 30px 0;
	border-bottom: 2px solid white;
}

.input-group label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 16px;
	color: #a19f9fff;
	pointer-events: none;
	transition: 0.5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
	top: -5px;
}

.input-group input {
	width: 320px;
	height: 40px;
	font-size: 16px;
	color: white;
	padding: 0 5px;
	background-color: transparent;
	border: none;
	outline: none;
	font-family: "Roboto Slab", sans-serif;
}

button {
	border-radius: 6px;
	display: inline-block;
	padding: 12px;
	margin: 15px 0;
	text-align: center;
	background: #102542;
	color: white;
	text-decoration: none;
	position: relative;
	width: 100%;
	/* height: 40px; */
	font-weight: 550;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-family: "Roboto Slab", sans-serif;
	transition: 0.3s ease-in-out;
}

button:hover {
	background-color: #f87060;
}

button img:nth-child(1) {
	position: absolute;
	left: 0;
	top: 0;
}

button img:nth-child(2) {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: rotate(180deg);
}
