* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto Slab", sans-serif;
	background: #102542;
	display: flex;
	/* flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 150px; */
}

.bg-img {
	position: absolute;
	z-index: -1;
	right: 0;
	opacity: 0.2;
	width: 1100px;
}

.container {
	width: 90%;
	margin: auto;
	max-width: 900px;
	padding-top: 40px;
}

.card {
	background-color: white;
	box-shadow: 0 0 50px rgb(4, 22, 48);
	padding: 25px;
	border-radius: 10px;
	margin-bottom: 25px;
}

.card h2 {
	margin: 0;
	color: #1b4965;
}

.info {
	margin-top: 10px;
	font-size: 16px;
}
.card p {
	margin: 10px 0;
}

.menu_con {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.menu-btn {
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	padding: 15px;
	margin: 15px auto;
	text-align: center;
	background: #1b4965;
	color: white;
	text-decoration: none;
	transition: 0.3s ease-in;
	position: relative;
	/* font-size: 18px; */
	font-size: 1rem;
	width: 250px;
}

/* .menu-btn.res {
	margin-left: 0;
	margin-right: auto;
	width: fit-content;
} */

.menu-btn img:nth-child(1) {
	position: absolute;
	left: 0;
	top: 0;
}
.menu-btn img:nth-child(2) {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: rotate(180deg);
}

.menu-btn:hover {
	background: #f87060;
}
